// Navigation code here

h1 {
    text-align: center;
    font-size: 50px;
}
.navigation {
  text-align: center;
  
  font-size: 1.6em;
  background-color: rgb(238, 238, 238);
  
  padding: 45px;
  a {
    margin-top: 50px;
    margin: 15px;
    text-align: center;
    color: black;
    font-weight: 600;
    
    @media @phone {
    font-size: 13px;
    margin:7px;
    
    }

  }
  
}
